* {
    padding: 0;
    margin: 0;
}

.space-background {
    background-image: url('../resources/space.gif');
    background-size: cover;
    background-position: center 50%;
    height: 70vh;
    padding:0;
    margin:0;
}
