* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.space-background {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 75vh;
}

.dashboard-image {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

@font-face{
    font-family: "digital-clock-font";
    src: url("../fonts/E1234.ttf") format(truetype);
    /* font-style: normal;
    font-weight: normal;
    font-display: swap; */
}

.timer {
    background-color: white;
    color: red;
    font-family: digital-clock-font;
    font-size: 500%;
    margin-left: 5%;
    margin-top: 5%;
    padding-right: 0;
}

@font-face{
    font-family: "digital-clock-font";
    src: url("../fonts/E1234.ttf") format(truetype);
    /* font-style: normal;
    font-weight: normal;
    font-display: swap; */
}

.timer {
    background-color: white;
    color: red;
    font-family: digital-clock-font;
    font-size: 500%;
    margin-left: 5%;
    margin-top: 5%;
    padding-right: 0;
}



.button-effects {
  background: rgba(19, 19, 19, 0.7);
  color: rgb(12, 153, 12);
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  text-shadow: 2px 2px 8px rgb(94, 94, 94);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: larger;
}

.slider-panel {
  position: absolute;
  top: 60vh;
  right: 37vw;
  width: 12vw;
  height: 50px;
}

.button-effects:hover {
  background: rgba(65, 65, 65, 0.7);
}

.chat-panel {
  position: absolute;
  top: 60vh;
  right: 64vw;
  width: 10vw;
  height: 50px;
}